[Unit]
Description=Backup service for local home directory

[Service]
Type=simple
ExecStart=/opt/geosscripts/compressdirectory.sh

[Install]
WantedBy=multi-user.target