[Unit]
Description=Execute backup every day at midnight

[Timer]
OnCalendar=*-*-* 00:00:00
Unit=homebackup.service

[Install]
WantedBy=multi-user.target